@charset "UTF-8";

body {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #149134;
    color: #111;
    max-width: 1400px;
    counter-reset: sidenote-counter; 
}
